<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js" integrity="sha256-spTpc4lvj4dOkKjrGokIrHkJgNA0xMS98Pw9N7ir9oI=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js" integrity="sha256-JMwpUzWY+WKCPEIpvCgEh2RqJ6QqlSV8Md4bmxjzcQ8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha256-rD86dXv7/J2SvI9ebmNi5dSuQdvzzrrN2puPca/ILls=" crossorigin="anonymous"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/classie/0.0.2/classie.min.js" integrity="sha256-8Xsh4wenUuEyKRfFYQz/xxxrW4VdWUaCirXJZpSG23E=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animated-header/0.0.1/js/cbpAnimatedHeader.min.js" integrity="sha256-hI53kNsuCqjJsMXrZjN7a9IPxej4pqIUSS2nc7Svq+s=" crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqBootstrapValidation/1.3.6/jqBootstrapValidation.min.js" integrity="sha256-SUC+k5W2y7KGjWjlPT8SQEI0NFNOHlG8EyGPfNcrtZY=" crossorigin="anonymous"></script>

<script src="{{ .Site.BaseURL }}js/contact_me.js"></script>
<script src="{{ .Site.BaseURL }}js/freelancer.js"></script>

<script src="{{ .Site.BaseURL }}js/classie.js"></script>
<script src="{{ .Site.BaseURL }}js/cbpAnimatedHeader.js"></script>